<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>A Django Girl's Adventure</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
</head>
<body>
    <div>
        <span>Name: </span>
        <input id="username" name="username" placeholder="Username" type="text">
    </div>
    <div>
        <span>Family Name: </span>
        <input id="familyname" name="familyname" placeholder="Family Name" type="text">
    </div>
    <div>
        <span>E-mail: </span>
        <input id="email" name="email" placeholder="E-mail" type="text">
    </div>
    <div>
        <span>Password: </span>
        <input id="password" name="password" placeholder="Password" type="password">
    </div>
    <button id="signup-submit" name="signup-submit" type="submit">Sign Up Now</button>
</body>
</html>